.experience-page h1{
    color: rgb(91, 17, 54);
    text-align: center;
}

.experience-description{
    margin: auto;
    border: 1px solid #7c2c3a;
  border-radius: 8px;
  box-shadow: 0 2px 4px #7c2c3a;
  padding: 20px;
  background-color: #ee6f85;
  max-width: 800px;
    /*flex-direction: column;
    margin: auto;
    background-color: white;
    width: 1000px;
    height: 290px;*/
}
.experience-description ul {
    flex-direction: column;
}

.experience-description li {
    font-size: 1rem;
    color: white;
}

.experience-description h3{
    font-size: 3rem;
}