.home-page{
    /*display: block;
    margin: auto;
    width: 30%;
    padding-top: 30px;*/
    position: absolute;
    width: 40%;
    max-height: 90%;
    margin-left: 10rem;
    /*display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem;*/
   
}

.title {
    margin-top: 15rem;
    color: white;
    font-size: 50px;
    font-weight: 600;
    animation: fadeIn 1s 1.5s backwards;

/*&::before{
    font-family: 'La Belle Aurore';
    color:  rgb(91, 17, 54);
    font-size: 18px;
    position: absolute;
    margin-top: -20px;
    left: 15px;
    opacity: 0.6;
}

&::after{
    font-family: 'La Belle Aurore';
    color:  rgb(91, 17, 54);
    font-size: 18px;
    position: absolute;
    margin-top: -20px;
    left: 15px;
    opacity: 0.6;

}*/

}

h2{
    margin-left: 2rem;
    /*margin-left: auto;
    margin-right: auto;*/
    color: rgb(91, 17, 54);
    font-size: 30px;
    //margin-top: 20px;
    font-weight: 400;
    animation: fadeIn 1s 2.2s backwards;
}


.button{
    color:rgb(91, 17, 54);
    font-size: 13px;
    font-weight: 400px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid rgb(91, 17, 54);
    float: left;
    margin-left: 2rem;
    animation: fadeIn 1s 2.5s backwards;
}

